# idea
.idea/
/jenkins-data/workspace/
/jenkins-data/jobs/**/*.log
/jenkins-data/logs/
/jenkins-data/.java/
**/builds/
/jenkins-data/org.jenkinsci.plugins.github_branch_source.GitHubSCMProbe.cache/
/jenkins-data/war/
**/.timestamp2
**/META-INF
**/WEB-INF
**/fingerprints
**/*.log
/jenkins-data/queue.xml
/jenkins-data/.owner
/jenkins-data/caches/
