# idea
.idea/
/jenkins-data/workspace/
/jenkins-data/jobs/playground-service/branches/master/scm-polling.log
/jenkins-data/logs/
/jenkins-data/.java/
/jenkins-data/jobs/playground-service/branches/master/builds/
/jenkins-data/org.jenkinsci.plugins.github_branch_source.GitHubSCMProbe.cache/
/jenkins-data/war/
**/.timestamp2
**/META-INF
**/WEB-INF
**/fingerprints
**/*.log
/jenkins-data/queue.xml
